<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p  class="footer">copyright &copy; blog ninja.all rights reserved.</p> 
   <style>
    .footer{
        background-color: aqua;
        position:absolute;
        margin: 0;
        text-align: center;
        padding: 20px;
        width: 100%;
        left: 0;
        bottom: 0;
    }
   </style>
</body>
</html>